{% extends 'base.html' %}
{% load planet_tags rate_tags owm_tags %}

{% block title %}Vremenska Prognoza{% endblock %}

{% block content %}
<div class="column-two-third">
    <h6 class="line"><span>Vremenska Prognoza.</span></h6>
    <div class="tabs">
        <ul>
            {% for city, country in cities.iteritems %}
            <li><a href="#vp-{{ city }}">{{ city }}</a></li>
            {% endfor %}
        </ul>
        {% for city, country in cities.iteritems %}
        <div id="vp-{{ city }}">
            {% get_forecast city country %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
